{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title>Task Management System</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css"
    rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Electrolize&display=swap" rel="stylesheet">
   

    

</head>
<body>
    <h1>Task Management System</h1>

    {% if user.is_authenticated %}
        <button class="welcome-text">
            <i class="bi bi-person-fill"></i>
            {{ user.username }}
        </button>

        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
               <i class="bi bi-power"></i> Log Out
            </button>

            
        </form>
    {% endif %}

        <div class="task-creator">
            <form id="addTaskForm" action="{% url 'add_task' %}" method="POST">
                {% csrf_token %}

                <div class="row align-items-end g-3">

                    <div class="col-md-3">
                        <label class="form-label"><strong>Task Title</strong></label>
                        <input type="text" name="title" class="form-control" placeholder="Enter task title">
                    </div>

                    <div class="col-md-2">
                        <label class="form-label"><strong>Company</strong></label>
                        <select name="company_name" class="form-select">
                            {% for value, label in Company.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label"><strong>Deadline</strong></label>
                        <input type="date" name="deadline" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label"><strong>Description</strong></label>
                        <input type="text" name="task_details" class="form-control" placeholder="Task description">
                    </div>

                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success mt-4">
                            Create
                        </button>
                    </div>

                </div>
            </form>
        </div>


                                        <!-- . . . . . . CODE FOR FILTER FORM . . . . . . -->

        <div  class="text-center mb-3">

            <button
                type="button"
                id="filterToggle"
                class="btn btn-dark">

                <i class="bi bi-funnel-fill"></i>
                Filters

            </button>

        </div>

        <div id="filterPanel">

            <div class="filter-form">

                <form id="filterForm" method="GET" class="row g-3 mb-4">    

                    <div class="col-md-2">

                        <label class="form-label">
                            Status
                        </label>

                        <select
                            name="status"
                            class="form-select">

                            <option value="">
                                All Statuses
                            </option>

                            {% for value,label in Status.choices %}

                                <option
                                    value="{{ value }}"
                                    {% if status_filter == value %}selected{% endif %}>

                                    {{ label }}

                                </option>

                            {% endfor %}

                        </select>

                    </div>

                    <div class="col-md-2">

                        <label class="form-label">
                            Owner
                        </label>

                        <select
                            name="owner"
                            class="form-select">

                            <option value="">
                                All Owners
                            </option>

                            {% for user in users %}

                                <option
                                    value="{{ user.id }}"
                                    {% if owner_filter == user.id|stringformat:"s" %}selected{% endif %}>

                                    {{ user.username }}

                                </option>

                            {% endfor %}

                            <option
                                value="{{ request.user.id }}"
                                {% if owner_filter == request.user.id|stringformat:"s" %}selected{% endif %}>

                                {{ request.user.username }}

                            </option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <label class="form-label">
                            Assigned To
                        </label>

                        <select
                            name="assignee"
                            class="form-select">

                            <option value="">
                                All Assignees
                            </option>

                            {% for user in users %}

                                <option
                                    value="{{ user.id }}"
                                    {% if assignee_filter == user.id|stringformat:"s" %}selected{% endif %}>

                                    {{ user.username }}

                                </option>

                            {% endfor %}

                            <option
                                value="{{ request.user.id }}"
                                {% if assignee_filter == request.user.id|stringformat:"s" %}selected{% endif %}>

                                {{ request.user.username }}

                            </option>

                        </select>

                    </div>

                    <div class="col-md-2">

                        <label class="form-label">
                            Deadline
                        </label>

                        <select
                            name="deadline"
                            class="form-select">

                            <option value="">
                                All Deadlines
                            </option>

                            <option value="OVERDUE"
                                {% if deadline_filter == "OVERDUE" %}selected{% endif %}>
                                Overdue
                            </option>

                            <option value="TODAY"
                                {% if deadline_filter == "TODAY" %}selected{% endif %}>
                                Today
                            </option>

                            <option value="TOMORROW"
                                {% if deadline_filter == "TOMORROW" %}selected{% endif %}>
                                Tomorrow
                            </option>

                            <option value="THIS_WEEK"
                                {% if deadline_filter == "THIS_WEEK" %}selected{% endif %}>
                                This Week
                            </option>

                            <option value="THIS_MONTH"
                                {% if deadline_filter == "THIS_MONTH" %}selected{% endif %}>
                                This Month
                            </option>

                            <option value="NEXT_MONTH"
                                {% if deadline_filter == "NEXT_MONTH" %}selected{% endif %}>
                                Next Month
                            </option>

                            <option value="THIS_YEAR"
                                {% if deadline_filter == "THIS_YEAR" %}selected{% endif %}>
                                This Year
                            </option>

                            <option value="NO_DEADLINE"
                                {% if deadline_filter == "NO_DEADLINE" %}selected{% endif %}>
                                No Deadline
                            </option>

                        </select>

                    </div>

                    <div class="col-md-4 d-flex align-items-end">

                        <button
                            class="btn btn-primary me-3"
                            type="submit">

                            Apply Filters

                        </button>

                        <button
                            type="button"
                            id="resetFilters"
                            class="btn btn-secondary">
                            Reset
                        </button>

                    </div>

                </form>
            </div>
        </div>


                                            <!-- . . . . . . CODE FOR TABLE . . . . . .  -->

        {% include 'task_table.html' %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>

    <script src="{% static 'js/home.js' %}"></script>

    <div class="modal fade"
        id="assignModal"
        tabindex="-1">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">
                        Assign Task
                    </h5>

                </div>

                <div class="modal-body">

                    <form
                        id="assignForm"
                        method="POST">

                        {% csrf_token %}

                        <select
                            id="userSelect"
                            name="assigned_to"
                            multiple
                            style="width:100%;">

                            {% for user in users %}

                            <option
                                value="{{ user.id }}">

                                {{ user.username }}

                            </option>

                            {% endfor %}

                        </select>

                    </form>

                </div>

                <div class="modal-footer">

                    <button
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        Cancel

                    </button>

                    <button
                        class="btn btn-success"
                        id="confirmAssign">

                        Save Assignment

                    </button>

                </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="confirmAssignModal" tabindex="-1">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">

                        Confirm Assignment

                    </h5>

                </div>

                <div class="modal-body">

                    <p id="confirmAssignText"></p>

                </div>

                <div class="modal-footer">

                    <button
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        No

                    </button>

                    <button
                        id="confirmAssignYes"
                        class="btn btn-success">

                        Yes

                    </button>

                </div>

            </div>

        </div>

    </div>

    <div class="offcanvas offcanvas-end"
        tabindex="-1"
        id="taskDrawer">

        <div class="offcanvas-header">

            <h4 id="drawerTitle">

                Loading...

            </h4>

            <button
                class="btn-close"
                data-bs-dismiss="offcanvas">

            </button>

        </div>

        <div class="offcanvas-body">

            <div id="drawerContent">

                Loading task...

            </div>

        </div>

    </div>

    <div class="modal fade"
        id="editActivityModal"
        tabindex="-1">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">

                        Edit Progress Update

                    </h5>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                    </button>

                </div>

                <div class="modal-body">

                    <textarea
                        id="editActivityMessage"
                        class="form-control"
                        rows="5">
                    </textarea>

                </div>

                <div class="modal-footer">

                    <button
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">

                        Cancel

                    </button>

                    <button
                        class="btn btn-success"
                        id="saveActivityEdit">

                        Save Changes

                    </button>

                </div>

            </div>

        </div>

    </div>

</body>
</html>