

<div id="taskTableWrapper">
  <table class="table table-hover align-middle" id="taskTable">
    <thead>
      <tr>
        <th data-column="title">Task</th>

        <th data-column="company">Company</th>

        <th data-column="status">Status</th>

        <th data-column="deadline">Deadline</th>

        <th data-column="owner">Owner</th>

        <th data-column="assignees">Assignees </th>

        <th data-column="followers">Followers</th>

        <th data-column="actions">Actions</th>

        <th data-column="updates">Updates</th>
      </tr>
    </thead>
    
    <tbody>
      {% for task in tasks %} {% include "task_row.html" %} {% endfor %}
    </tbody>
  </table>
</div>
